.post-info {
	position: relative;
	background: linear-gradient(to bottom, $secondary-color 0,#fefefe 100%);
	padding: 3rem 1.5rem 1rem;
	margin: 2.5rem -15px 0;
	height: auto;

	&:before {
		position: absolute;
		content: 'Resep';
		border: 1.25px dashed #3D9F9E;
		font-weight: 700;
		display: flex;
		align-items: center;
		text-align: center;
		top: -14px;
		padding: .75rem 1.75rem;
	}

	&__row {
		h3,
		h4 {
			font-weight: normal;
			margin-bottom: 2rem;
		}

		h4 {
			border-bottom: 1px solid #D2EBE8;
			padding-bottom: 1rem;
		}

		b {
			text-transform: uppercase;
		}

		p {
			font-size: 1.2rem;
		}

		&:nth-child(3),
		&:nth-child(4) {
			border-top: 1px solid #D2EBE8;
			padding-top: 1rem;
		}

		ul:not(.post-info__columns) li:not(:last-child) {
			border-bottom: 1px dashed #f0d8e0;
			line-height: 1.5;
		}
	}

	&__columns {
		position: relative;
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;

		.column {
			margin-right: 2rem;
			padding: 0 !important;

			b {
				color: #177;
			}

			&:before {
				display: none;
			}
		}
	}
}

@media (min-width: 780px) {
  .post-info {
  	margin: 2.5rem 0 0 0;
  	width: 100%;
  	
  	&__columns {
  		flex-direction: row;
  	}
  }
}