.post-title {
	font-size: 3rem;
}

.post-meta {
	i {
		margin-right: 8px;
	}
}

.blog-post {
	.card {
		&__img {
			height: 16rem;
	  		object-fit: cover;
		}

		&__category {
			color: $primary-color !important;
			padding: .375rem .625rem;
		    background-color: $primary-color-light;
		    border-radius: 4px;
		    text-transform: uppercase;
		    font-size: .75rem;
		    font-weight: 700;
		    -webkit-transition: all .1s linear;
		    -o-transition: all .1s linear;
		    transition: all .1s linear;
		}
	}

	&__title {
		width: max-content;
		border-bottom: 2px solid;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}
}

.single-post {
	padding-top: 3rem;
}