.border-primary {
	border-color: $primary-color !important;
}

.text-primary {
	color: $primary-color !important;
}

.content blockquote {
	margin: 0 -15px 1rem;
}

.widget {
	text-align: left;
}

.social-links li a {
	text-align: center;
}

@media (min-width: 780px) {
  	.content blockquote {
		margin: 0 0 1rem;
	}
}
