<div class="col-md-6 mb-4">
    <article class="card">
        {{ if .Params.Feature }}
            {{ with .Resources.GetMatch (.Params.Feature ) }}
                {{ $image := .Fill "350x260 Center" }}
                <img src="{{- $image.Permalink | absURL -}}" class="card__img" alt="{{ .Title | markdownify }}" />
            {{ end }}
        {{ end }}
        <div class="card-body px-0">
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
            class="card__category">{{ . | title | humanize }}</a>
        {{ end }}
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
        <div class="mb-3 post-meta">
            <span>By {{ .Site.Params.Author }}</span>
            {{ if not .Params.HideDate }}
            <span class="border-bottom border-primary px-2 mx-1"></span>
            <span>{{ .PublishDate.Format "02 January 2006" }}</span>
            {{ end }}
        </div>
        <p class="card-text">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">Baca selengkapnya</a>
        </div>
    </article>
</div>