<div class="sidebar col-lg-4">
  <!-- about -->
  <div class="widget">
    {{ with .Site.GetPage "/tentang" }}
    <h4 class="widget-title">{{ .Title | markdownify }}</h4>
    {{ if .Params.Thumbnail }}
        {{ with .Resources.GetMatch (.Params.Thumbnail ) }}
            {{ $thumb := .Fill "165x165 Center" }}
            <img src="{{- $thumb.Permalink | absURL -}}" alt=""
                class="img-fluid author-thumb-sm d-block mx-auto rounded-circle mb-4" width="165" height="165" />
        {{ end }}
    {{ end }}
    <p>{{ .Description }} <a href="{{ .Permalink }}">Baca lebih lanjut...</a></p>
    {{ end }}
  </div>
  <!-- social -->
  <div class="widget">
    <h4 class="widget-title">Social</h4>
    <ul class="list-inline social-links">
      {{ range .Site.Params.social }}
      <li class="list-inline-item"><a aria-label="{{ .title }}" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
  </div>
  <!-- Trending -->
  <div class="widget">
    <h4 class="widget-title">Trending</h4>
    <div class="list-inline">
      {{ range first 5 (where .Site.RegularPages "Type" "trending") }}
      <div class="sidebar__posts">
        <article class="sidebar__post">
          {{ if .Params.feature }}
              {{ with .Resources.GetMatch (.Params.feature ) }}
                  {{ $thumb := .Fill "135x135 Center" }}
                  <div class="sidebar__post-thumb mr-3" style="background-image: url('{{- $thumb.Permalink  | absURL -}}');"></div>
              {{ end }}
          {{ end }}
          <div class="sidebar__post-content">
            <span><a href="{{ .Permalink }}">{{.Params.Title}}</a></span>
            <i class="sidebar__post-date">{{ .PublishDate.Format "02 Jan 2006" }}</i>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- advertisement -->
  <div class="widget">
    <!-- <img src="{{`images/promotion.png` | absURL}}" alt="" class="img-fluid"> -->

    <!-- Google Ads -->
    <!-- <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9817343977140587"
      data-ad-slot="3754839530"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins> -->

    <!-- Media Net -->
    <div id="795847841">
        <script type="text/javascript">
            try {
                window._mNHandle.queue.push(function (){
                    window._mNDetails.loadTag("795847841", "160x600", "795847841");
                });
            }
            catch (error) {}
        </script>
    </div>
  </div>
</div>
