<!-- Get src param from shortcode -->
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}

{{ if $src }}

<!-- Get alt param from shortcode -->
{{ $alt := .Get "alt"}}

{{ $smallw := default "458x254" }}
{{ $mediumw := default "726x402" }}
{{ $largew := default "1200x" }}

<!-- resize the src image to the given sizes -->
{{ .Scratch.Set "small" ($src.Resize $smallw) }}
{{ .Scratch.Set "medium" ($src.Resize $mediumw) }}
{{ .Scratch.Set "large" ($src.Resize $largew) }}

{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}
{{ $large := .Scratch.Get "large" }}

<figure>
  <img alt="{{ $alt }}" srcset="
    {{ $small.RelPermalink }} 458w,
    {{ $medium.RelPermalink }} 726w,
    {{ $large.RelPermalink }} 1200w" sizes="50vw" src="{{ $small.RelPermalink }}" />
</figure>
{{ end }}
