<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-adtest="on"
     data-ad-client="ca-pub-9817343977140587"
     data-ad-slot="5553353972"></ins>
     
<div class="post-info">
  <div class="post-info__row">
    {{ .Get "text" }}
  </div>
  <div class="post-info__row">
    <ul class="post-info__columns">
      <li class="column">
        <b>Waktu persiapan</b>
        <p><meta itemprop="prepTime" content="PT15M">{{ .Get "prep" }}</meta></p>
      </li>
      <li class="column">
        <b>Waktu memasak</b>
        <p><meta itemprop="cookTime" content="PT1H">{{ .Get "cook" }}</meta></p>
      </li>
      <li class="column">
        <b>Total waktu</b>
        <p>{{ .Get "total" }}</p>
      </li>
      <li class="column">
        <b>Porsi</b>
        <p>{{ .Get "serving" }} porsi</p>
      </li>
    </ul>
  </div>
  <div class="post-info__row">
    {{ .Inner | markdownify }}
  </div>
</div>
